.player-status {
	background: rgba(0,0,0,0.65); 
	color: white;
	padding: 0.25rem;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 0.75rem;
	
	position: absolute;
	top: -0.625rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	display: none;
	justify-content: center;
}

.transitionable-player-status-enter {
	display: flex;
	opacity: 1;
	transform: translateX(-50%);
}

.transitionable-player-status-enter-active {
	display: flex;
	opacity: 1;
	transition: opacity 250ms ease-in-out;
	transform: translateX(-50%);
}
.transitionable-player-status-enter-done {
	display: flex;
	opacity: 1;
}

.transitionable-player-status-exit {
	display: flex;
	opacity: 1;
	transform: translateX(-50%);
}

.transitionable-player-status-exit-active {
	display: flex;
	opacity: 1;
	transform: translateX(-50%) scale(1.2);
	transition: opacity 250ms ease-in-out, transform 250ms linear;
}

.transitionable-player-status-exit-done {
	display: flex;
}

.reset {
	display: none;
}