.player {
    position: absolute;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player0 {
    bottom: 8%;
    left: 45%;
    transform: translateX(-50%);
}

.player0 .player-avatar-image {
	transform: scale(1.3);
}

.player0 .player-avatar-image:hover {
	transform: translateY(-10%) scale(1.3);
}

.player0 .player-cards {
	right: -11.25rem;
}

.player0 .player-avatar-bet {
	top: -3.5rem;
}

.player0 .player-avatar-name {
	bottom: -1.625rem;
}

.player0 .player-avatar-chips {
	margin-top: 1.75rem;
}

.player1 {
    bottom: 8%;
    left: 6%;
}
.player2 {
    top: 3%;
    left: 17%;
}

.player4 {
    bottom: 8%;
    right: 6%;
}
.player3 {
    top: 3%;
    right: 17%;
}

.player2 .player-avatar-bet,
.player3 .player-avatar-bet {
	top: auto;
	bottom: -4.625rem;
}

.player2 .player-avatar-dealer,
.player3 .player-avatar-dealer {
	top: auto;
	bottom: -4.875rem;
}

.player-cards {
    position: absolute;
	top: 2.25rem;
    right: -3.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	filter: drop-shadow(0 1rem 0.5rem rgb(0 0 0 / 85%));
}

.skipping {
	opacity: 0.5;
}

.player-cards-hand {
	position: absolute;
    top: -1.875rem;
    font-size: 1.5rem;
    font-weight: 700;
	width: 130%;
    color: white;
    filter: drop-shadow(0 0.5rem 0.25rem rgb(0 0 0 / 85%));
	opacity: 0;
	animation: appearanceHand 0.4s 1 ease-in 1.2s both;
}

@keyframes appearanceHand {
	0% {
		opacity: none;
	}
	100% {
		opacity: 1;
	}
}

.player-wrap {
	display: flex;
	height: auto;
	width: auto;
}

.player-wrap-avatar {
	display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
	height: 6.25rem;
	width: 6.25rem;
	border-radius: 100%;
	padding: 0.375rem;
	filter: drop-shadow(0 1rem 0.5rem rgb(0 0 0 / 85%));
}

.player-avatar-image {
	box-sizing: border-box;
	border-radius: 100%;
	border: 0.25rem solid white;
	background-color: rgb(255 255 255);
	transition: transform 0.4s ease-out;
}

.player-avatar-image:hover {
	transform: translateY(-10%);
}

.activePlayer {
	box-shadow: 0 -1rem 2rem 0.5rem #b6ede3;
	animation: pulse 0.8s infinite ease-in alternate;
}

@keyframes pulse {
	0% {
		box-shadow: 0 -1rem 1rem 0 #b6ede3;
	}
	100% {
		box-shadow: 0 -1rem 2rem 0.5rem #b6ede3;
	}
}

.player-avatar-name {
	display: flex;
	justify-content: center;
	border-radius: 1.625rem;
	position: absolute;
	bottom: -0.75rem;
	padding: 0.25rem 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	color: white;
	background-image: linear-gradient(#092e5e, #003040 17%, #000000);
	border-bottom: 1px solid white;
    border-top: 1px solid white;
	font-size: 0.75rem;
	transition: transform 0.4s ease-out;
}

.player-avatar-name:hover {
	transform: translateX(-50%) scale(1.2);
}

.player-avatar-chips,
.player-avatar-bet {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 0.875rem;
	border-radius: 1.5rem;
	background-color: rgb(0 0 0 / 60%);;
	font-size: 1.5rem;
	transition: transform 0.4s ease-out;
}

.player-avatar-chips:hover {
	transform: scale(1.2);
}

.player-avatar-bet {
	position: absolute;
	padding: 0 0.25rem;	
	top: -2.375rem;
	left: 50%;
	transform: translateX(-50%);
}

.player-avatar-bet:hover {
	transform: translateX(-50%) scale(1.2);
}

.player-avatar-chips {
	position: relative;
	border-radius: 1.625rem;
	padding: 0.25rem 0;
	width: 100%;
	background-image: linear-gradient(#e14444, #870606, #260202);
	border-left: none;
    border-right: none;
	z-index: 0;
}

.player-avatar-bet-img {
	height: 1.5rem;
	width: 1.5rem;
}

.player-avatar-dealer {
	position: absolute;
	top: -1.875rem;
    left: -1.5rem;
    height: 2rem;
    width: 2rem;
	z-index: 100;
	transition: transform 0.4s ease-out;
}

.player-avatar-dealer:hover {
	transform: rotate(180deg);
}

.player-wrap-cards  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-wrap-cards-title {
	text-transform: uppercase;
}

.player-wrap-cards-content {
	display: flex;
}

@media (max-width: 736px) {
	.player-wrap-avatar {
		height: 4.75rem;
		width: 4.75rem;
	}	
	.player-avatar-name {
		width: 6.25rem;
	}
}
