.action-button.secondary {
    border: 0.125rem solid white;
    background-image: linear-gradient(#508bc9, #0d4b7a, #1d2470);
    min-width: 2.875rem;
}

.action-button.secondary:hover {
    background-image: linear-gradient(#1d2470, #0d4b7a, #508bc9);
}

.crossed {
    position: relative;
    opacity: 0.5;
}

.crossed::before {
    position: absolute;
    content: "";
    top: 1.125rem;
    left: 0;
    height: 0.1875rem;
    width: 100%;
    background: white;
    border-radius: 0.25rem;
    transform: rotate(-45deg);
}