.showdown {
	display: flex;
   	flex-direction: column;
	align-items: center;
	gap: 24px;
	position: absolute;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgb(3 15 40 / 90%);
	color: white;
	height: auto;
	min-height: 100%;
	width: 100%;
    padding: 36px 16px;
	z-index: 100;
	opacity: 0;
	animation: appearance 1s 1 ease-in 2s both;
}

@keyframes appearance {
	0% {
		opacity: none;
	}
	100% {
		opacity: 1;
	}
}

.showdown-background {
	width: 40%;
}

.showdown-messages {
	text-align: left;
	font-size: 24px;
	filter: drop-shadow(0 8px 4px rgb(0 0 0 / 85%));
}

.showdown-cards-label {
	text-transform: uppercase;
	font-size: 16px;
}

.showdown-cards {
	display: flex;
	height: 140px;
	margin-bottom: 1rem;
}

.showdown-card {
	filter: drop-shadow(0 8px 4px rgb(0 0 0 / 85%));
}
