.playing-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
    padding: 0.5rem;
    font-size: 4em;
    line-height: 0.7em;
	background-color: white;

	height: 7.25rem;
	width: 5rem;
	margin: 0 1px;
	border: 1px solid #2c0303;
	border-radius: 0.5rem;

	opacity: 0;
	animation: fade-in-up 0.5s;
	animation-fill-mode: both;
}

.isHover {
	filter: drop-shadow(0 0.1875rem 0.125rem rgb(0 0 0 / 85%));
	transition: background-color 0.2s ease-out;
}

.isHover:hover {
	background-color: #59efe8;
}

.isFakecard {
	height: 3.5rem;
    border: 0.125rem solid #2354ff;
	width: 2.25rem;
    background-image: repeating-linear-gradient(60deg, #7782b7 0, #23499f 1rem, #3e3d4e 1rem, #4a4c6e 1.625rem, #33487a 1.625rem, #3e605e 2.25rem, #8f7fad 2.25rem, #4c4d78 2.875rem, #186074 2.875rem, #19a2c3 3.5rem), repeating-linear-gradient(-60deg, #36d3f4 0, #07bdff 1rem, #789995 1rem, #748aa5 1.625rem, #cea6d1 1.625rem, #ffffff 2.25rem, #a8ecf1 2.25rem, #ffffff 2.875rem, #42859f 2.875rem, #00e5a6 3.5rem);
	background-blend-mode: multiply;
	background-size: 150%;
	animation: fake-in-up 0.5s;
	animation-fill-mode: both;
}

.isFakecard:nth-child(2) {
	animation: fakeSecond-in-up 0.5s;
	animation-fill-mode: both;
}

.folded {
	animation: fade-in-out 0.5s;
	animation-fill-mode: both;
}

.folded.isFakecard:nth-child(2) {
	animation: fade-in-out 0.5s;
	animation-fill-mode: both;
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes fade-in-out {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes fake-in-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%) rotate(-16deg);
	}
}

@keyframes fakeSecond-in-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%) translateX(-40%) rotate(16deg);
	}
}