.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.25rem 1rem 1.25rem;
    max-width: 480px;
    gap: 1.5rem;
    margin: auto;
    color: white;
}

.registration-form-title,
.registration-form-background {    
    filter: drop-shadow(0 0.5rem 0.25rem rgb(0 0 0 / 85%));
}

.registration-form-title {
    font-size: 2.75rem;
    background-image: linear-gradient(90deg, #06b1ac 0%, #48cdb7 52.09%, #c1afa1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.registration-form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    filter: drop-shadow(0 0.5rem 0.25rem rgb(0 0 0 / 85%));
}

.registration-form-label {
    font-weight: 700;
}

.registration-form-name-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.375rem;
}
