.action-rail {
    position: relative;
}

.action-rail::before,
.action-rail::after {
    position: absolute;
    right: -10px;
    top: -3px;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: linear-gradient(white, black);
    box-shadow: 0 0px 8px 0px #141212c9;
}

.action-rail::after {
    left: 0;
    z-index: 2;
}