.rank-winner {
	display: flex;
	align-items: center;
}

.rank-winner .player-wrap-avatar {
	margin-right: 0.75rem;
}

.rank-winner-besthand {
	margin-left: 1.5rem;
}

.rank-winner-besthand-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
}

.rank-winner-handrank {
	width: 7.25rem;
	text-align: center;
	color: #00ffd0;
	font-size: 1.5rem;
    font-weight: 600;
	filter: drop-shadow(0 0.5rem 0.25rem rgb(0 0 0 / 85%));
}

.rank-winner-earnings {
	text-align: center;
    font-weight: 600;
	font-size: 1.5rem;
	filter: drop-shadow(0 0.5rem 0.25rem rgb(0 0 0 / 85%));
}

.rank-winner-earnings.positive {
	color: #f2f531;
}

.rank-winner-earnings.negative {
	color: #ff2210;
}