.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%
}

.loading-wrap {
	display: flex;
	align-items: center;
	gap: 24px;
	height: 120px;
	width: 408px;	
}

.loading-wrap-img {
	animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
    from { transform: rotateY(0deg)}
    to { transform: rotateY(360deg)}
}
