h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html,
body, 
#root,
.App {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}

.App {
  text-align: center;
}

.App-wrap {
	position: relative;
	width: 100%;
    min-height: 100%;
	background: linear-gradient(149deg, rgb(3 1 26) 0%, #091c62 60%, rgb(209 208 211) 42%, #091c62 60%, rgb(3 1 26) 100%);
	animation: gradient 6s infinite linear;
    background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 0%;
    }
}